<div class="center hero-unit">
  <h1>Today</h1>

  <h2>
    is the </br> <a href="#">BEST DAY</a> </br> of my life
  </h2>

  <%= link_to "Sign up now!", signup_path, 
                              class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("tb1.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>